/* Existing styles */

body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
  color: #cfcfcf;
}

#sidebar {
  background-color: #333;
  width: 20vh;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2vh;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 4vh 0;
  text-align: center;
}

nav ul li {
  margin-bottom: 3vh;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 2vh;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  color: #fff;
  background-color: #0077b6;
  font-weight: bold;
}

main {
  padding: 4vh;
  background-color: #282828;
  max-width: 60vw;
  margin: 4vh auto;
  margin-left: 22vw;
  box-shadow: 0 0 5vh rgba(0, 0, 0, 0.5);
  color: #cfcfcf;
}

.main-title {
  text-align: center;
  color: #0077b6;
}

.subtitle {
  text-align: center;
  margin-top: 2vh;
  color: #cfcfcf;
}

footer {
  text-align: center;
  height: 3vh;
  background-color: #0077b6;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

footer p {
  margin: 0;
  padding: .75vh;
  font-size: .75em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  max-width: 90%;
  margin: 4vh auto;
  padding: 0 5%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2vh;
}

form label {
  font-weight: bold;
  color: #cfcfcf;
  flex: 1 1 20%;
  text-align: center;
}

form input {
  padding: 1vh;
  border: 0.1vw solid #555;
  border-radius: 0.5vh;
  background-color: #444;
  color: #cfcfcf;
  flex: 1 1 7.5%;
  margin: 0 1vh;
  width: 30px;
}

form button {
  padding: 1vh;
  border: none;
  border-radius: 0.5vh;
  background-color: #0077b6;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin-top: 2vh;
  align-self: center;
}

form button:hover {
  background-color: #005f8d;
}

#dataOutput {
  margin-top: 2vh;
  padding: 2vh;
  background-color: #333;
  border-radius: 0.5vh;
  text-align: center;
  font-weight: bold;
  color: #cfcfcf;
}

.output-headers, .data-row {
  display: flex;
  justify-content: space-between;
  padding: 1vh;
  border-bottom: 0.1vh solid #555;
  align-items: center;
}

.output-headers span, .data-row span {
  flex: 1;
  text-align: center;
  width: 20vw;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 1vh;
  padding: 1vh;
}

.edit-btn, .delete-btn {
  padding: 1vh;
  width: 8vh;
  border: none;
  border-radius: 0.5vh;
  background-color: #0077b6;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.edit-btn:hover, .delete-btn:hover {
  background-color: #005f8d;
}

.delete-btn {
  margin-left: auto;
  margin-right: auto;
}

/* CSS for Popup */
.fade-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.edit-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #282828;
  padding: 2vh;
  border-radius: 0.5vh;
  box-shadow: 0 0 10vh rgba(0, 0, 0, 0.5);
  color: #cfcfcf;
  z-index: 1000;
  width: 48vw; /* 80% of the main container's width */
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.edit-form label {
  font-weight: bold;
  margin-bottom: 0.5vh;
}

.edit-form input {
  padding: 1vh;
  border: 0.1vw solid #555;
  border-radius: 0.5vh;
  background-color: #444;
  color: #cfcfcf;
}

.edit-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}

.edit-buttons button {
  padding: 1vh;
  border: none;
  border-radius: 0.5vh;
  background-color: #0077b6;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.edit-buttons button:hover {
  background-color: #005f8d;
}

/* Center the main h2 and the new div */
main h2, main h3 {
  text-align: center;
  margin: 1em 0;
  color: #cfcfcf;
}

/* Style for total-pages to be blue */
main h3 {
  color: #0077b6;
}



/* CSS for Tooltip */
.tooltip {
  font-size: 0.9em;
  pointer-events: none;
  z-index: 10;
}

#chart{
  position: relative; 
  height: 60vh; 
  width: 50vw; 
  margin: auto; 
  display: flex; 
  align-items: center; 
  justify-content: center
}

.image {
  display: flex;
  justify-content: center;
  margin: 4vh 0;
}

.image img {
  max-width: 40%;
  height: auto;
  border-radius: 1vh;
  box-shadow: 0 0 5vh rgba(0, 0, 0, 0.5);
}

nav img {
  width: 90%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  max-width: 200px; /* Optional: set a max width */
  display: block;
  margin: 0 auto; /* Center the image */
}

#center{
  display: flex; 
  justify-content: center;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding: 1vh;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 0;
  }

  nav ul li {
    margin-bottom: 2vh;
  }

  nav ul li a {
    padding: 1vh;
  }

  main {
    max-width: 90vw;
    margin: 2vh;
    padding: 2vh;
  }

  form {
    padding: 0 2vh;
  }

  .form-row {
    flex-direction: row;
    align-items: center;
  }

  form label input{
    flex: 1 1 40%;
    text-align: left;
    margin: 1vh .5vh;
  }

  #chart {
    width: 90vw;
    height: 40vh;
  }

  .image img {
    max-width: 80%;
  }

  footer {
    height: auto;
    padding: 1vh;
  }
}